<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications Bar</title>
    <link href="../css/notifBarStyle.css" rel="stylesheet" type="text/css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    </style>
</head>
<body>
    <div class="notifBar">
        {{!-- label for no notifs; change display to none for hiding text, and absolute to reveal text --}}
        <p class="label_noNotif" style="display: absolute;">No recent notifications</p>

        {{!-- box for one notif; change display to inline-block to show notif --}}
        <div class="notif_box" style="display: none;">
            <p class="notif_txt">Notif here</p>
        </div>
    </div>
</body>
</html>
