/*sets hex codes for scheme color variables*/
*{
    --errorRed: #ab4642;
    --logoBlue: #00407C;
    --logoyellow: #FFF212;
    --hoverBlue: #002f5a;
    --paleBlue: #5390CF;
    --lightBlue: #AEDFFC;
    --darkBlue: #041f2e;
    --gray: #808080;

    /*keeps contents aligned*/
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    background-color: var(--darkBlue);
    z-index: 1;
}

/* sets font of texts */
body, 
.addTransactInput, 
.addBtns {
    font-family: 'Lato', sans-serif;
}

/* handles style of "Add Transaction" label */
#label_addTransact{
    display: block;
    font-weight: 900;
    color: white;
    font-size: 36px;
    text-align: center;
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 3%;
}

/* handles style of entire box of content */
#addTransact_box{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 50%;
    height: fit-content;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 15%;
    bottom: 15%;
}

#addTransact_box > div{
    flex: 1;
    display: flex;    
}

/* handles style of form div */
#addTransactForm_box{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #002b53;
}

/* handles style of form */
#form_addTransact{
    height: 90%;
    width: 80%;
}

/* handles style of div containing labels, input fields, 
and error messages */
.addTransactDetail_box{
    display: block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* handles style of labels */
.label{
    font-size: 16px;
    letter-spacing: .5px;
    margin-bottom: 1px;
    color: white;
}

/* sets font colors of dropdown options */
.addSelect:invalid {
    color: var(--gray);
}

.addSelect option {
    color: black;
}

/* handles style of input fields */
.addTransactInput{
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    padding: 8px;
    box-sizing: border-box;
}

/* removes highlight when typing in input field */
input:focus{
    outline-width: 0;
}

/* handles style of check items div */
.add_check_items_box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

/* handles style of a single check item div */
.add_product_check_item{
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 5px;
}

/* handles style of a single check item labels */
.add_product_check_label{
    font-size: 16px;
    color: white;
    margin-left: 5px;
}

/* handles style of checkboxes */
.add_product_checkbox{
    -webkit-appearance: none;
    background-color: white;
    padding: 8px;
    border-radius: 2px;
    display: inline-block;
}

.add_product_checkbox:hover{
    cursor: pointer;
}

.add_product_checkbox:active,
.add_product_checkbox:checked:active{
    box-shadow: 0 1px 2px #00000080, inset 0 1px 3px #0000001a;
    cursor: pointer;
}

.add_product_checkbox:checked{
    background-color: var(--logoyellow);
    color: #99a1a7;
}

/* hides product detail fields by default */
.addProductDetails_box{
    display: none;
}

/* .add_check:after{
    content: '';
    position: absolute;
    display: none;
}

.add_product_checkbox:checked ~ .add_check:after{
    display: block;
}

.add_product_checkbox .add_check:after{
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} 

 .add_product_checkbox:after{
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    height: 10px;
    width: 5px;
    border-bottom: 7px solid var(--darkBlue);
    border-right: 7px solid var(--darkBlue);
} */

/* handles style of buttons div; allows buttons to be arranged in a row */
#btnAddTransact_box{
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

/* handles style of all buttons */
.addBtns{
    display: block;
    height: 40px;
    width: 150px;
    margin-top: 10px;
    font-size: 16px;
    border-color: transparent;
    border-width: 3px;
    border-radius: 2px;
}

/* handles style of add transaction button */
#btn_addTransact{
    color: var(--darkBlue);
    background-color: var(--lightBlue);
}

#btn_addTransact:hover{
    opacity: .8;
}

/* changes color and places outline upon add transaction button press */
#btn_addTransact:active{
    background-color: steelblue;
    outline: 1px solid white;
    outline-offset: 2px;
}

/* handles style of cancel button */
#btn_addTransactCancel{
    color: white;
    background-color: var(--errorRed);
}

#btn_addTransactCancel:hover{
    opacity: .8;
}

/* changes color and places outline upon cancel button press */
#btn_addTransactCancel:active{
    background-color: maroon;
    outline: 1px solid white;
    outline-offset: 2px;
}

/* handles style of error messages */
.error{
    display: absolute;
    font-size: 14px;
    text-align: right;
    right: 0;
    margin-bottom: 5px;
    color: transparent;
}

/* class to be added for field error highlight, if needed*/
.highlight_error{
    border-color: var(--errorRed);
    border-width: 2px;
}
