/*sets hex codes for scheme color variables*/
*{
    --errorRed: #ab4642;
    --logoBlue: #00407C;
    --logoyellow: #FFF212;
    --hoverBlue: #002f5a;
    --paleBlue: #5390CF;
    --lightBlue: #AEDFFC;
    --darkBlue: #041f2e;
    --gray: #808080;

    /*keeps contents aligned*/
    padding: 0;
    margin: 0;
}

/* sets font of texts */
body{
    font-family: 'Lato', sans-serif;
    height: 100%;
    background-color: var(--darkBlue);
    z-index: 1;
}

/* handles style of contents box */
#delivery_box{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    min-width: 1000px;
    height: fit-content;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;

}

#delivery_box > div{
    flex: 1;
    display: flex;
}

#searchTransact_box{
    float: left;
}

#input_searchTransact{
    padding: 10px;
    width: 140px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    border: none;
}

.search_icon{
    height: 20px;
    width: 20px;
}

#btn_searchTransact{
    float: right;
    /* width: 11%; */
    padding: 10px 10px 6px 10px;
    /* margin-top: 8px; */
    margin-left: 1px;
    margin-right: 90px;
    font-size: 17px;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--lightBlue);
}

#btn_searchTransact:hover{
    opacity: .8;
}

/* changes color and places outline upon search button press */
#btn_searchTransact:active{
    background-color: steelblue;
    outline: 1px solid white;
    outline-offset: 2px;
}

/* handles style of add transaction link
#link_addTransact{
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: palegoldenrod;
    color: var(--darkBlue);
    padding: 10px 20px;
    border-color: transparent;
    border-radius: 2px;
    margin-bottom: 2%;
    float: right;
} */

#link_addTransact:hover{
    background-color: var(--logoyellow);
}

#link_addTransact:active{
    box-shadow: 0 0 0 3px white;
}

/* handles style of "Deliveries" label */
#label_delivery{
       /* position: absolute; */
       font-weight: 900;
       color: white;
       font-size: 36px;
       text-align: center;
       margin-left: 10px;
       right: 0;
       margin-bottom: 2%;
}

#deliveryTable_box{
    max-width: 100%;
    max-height: 500px;
    width: 100%;
    overflow: auto;
}

/* handles style of deliveries table */
#delivery_table {
    border-collapse: collapse;
    width: 100%;
}

#delivery_table tr:nth-child(even){
    background-color: #F3F3F3;
}

/* handles style of table header */
#deliveryTable_header{
    background-color: var(--logoBlue);
}  

/* handles style of table head texts */
.deliveryTable_head{
    color: white;
    letter-spacing: .5px;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background: var(--logoBlue);
    padding: 0;
}

.filter_button{
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    height: 100%;
    background: var(--logoBlue);
    font-weight: bold;
    color: white;
    padding: 15px 35px 15px 35px;
}

.filter_button:hover{
    background: var(--hoverBlue);
}

/* handles style of column heads to show clickability */
.sortable{
    cursor: pointer;
}

.sortable:hover{
    background: var(--hoverBlue);
}

.sortable:active{
    background: var(--paleBlue);
}

/* classes to be added or removed in order to display 
    ascending or descending arrow next to the column labels*/
.up_arrow::after{
    content: "\25b4";
}

.down_arrow::after{
    content: "\25be";
}

/* handles style of table rows */
.deliveryTable_rows{
    background-color: white;
}

/* handles style of table rows content*/
.deliveryTable_head, 
.non_sortable, 
.filter_button, 
td{
    font-size: 16px;
    text-align: left;
}

.filter_button, 
.non_sortable, 
td{
    padding: 10px 40px 10px 40px;
}

/* prevents date format label from wrapping */
#filter_date{
    min-width: 195px;
}

/* sets fixed minimum width and no wrapping for quantity and amount columns */
.wide_column{
    min-width: 100px;
    white-space: nowrap;
}

/* sets fixed width and no wrapping for price column */
.narrow_column{
    width: 60px;
    white-space: nowrap;
}

/* sets fixed width for delivery column */
.delivery_fixed_width{
    width: 150px;
}

/* aligns numerical values to the right*/
.numbers{
    text-align: right;
}

/* handles style of icons td */
.icons_item{
    padding: 0 15px 0 15px;
}

/* handles style of link icons */
.link_icons{
    height: 30px;
    width: 30px;
}

.link_icons:hover{
    opacity: .8;
}

.link_icons:active{
    border-radius: 100%;
    box-shadow: 0 0 0 1px var(--darkBlue);
}