/*sets hex codes for scheme color variables*/
*{
    --errorRed: #ab4642;
    --logoBlue: #00407C;
    --logoyellow: #FFF212;
    --paleBlue: #5390CF;
    --lightBlue: #AEDFFC;
    --darkBlue: #041f2e;
    --gray: #808080;

    /*keeps contents aligned*/
    padding: 0;
    margin: 0;
}

/* sets font of texts */
body, 
input{
    font-family: 'Lato', sans-serif;
}

/*sets color of page background*/
body{
    background-color: var(--lightBlue);
}

/* handles style of entire box of content */
#row_box{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    overflow: auto;
}

/*adjusts background color of left graphic in login page*/
#logo_box{
    position: relative;
    flex: .4;
    display: flex;
    background-color: var(--logoBlue);
    min-width: 300px;
    height: auto;
}

/* handles style of logo image */
#logo{
    display: block;
    height: auto;
    width: 200px;
    margin: auto;
}

/* sets fixed width for whole login form */
form{
    width: 500px;
    height: 100%;
}

/* handles style of login section */
#login_box{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
    background-color: var(--darkBlue);
}

/* handles style of login form contents */
#login_contents{
    position: absolute;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
}

/* handles styles of username and password div containers */
.box{
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* handles styles of main labels */
.label{
    color: white;
}

#label_welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 8%;
    font-size: 48px;
    letter-spacing: 1px;
}

#label_username, 
#label_password{
    left: 20%;
    font-size: 20px;
    letter-spacing: .5px;
    text-align: left;
}

/* handles styles of username and password fields*/
.input_login{
    margin: auto;
    border-color: white;
    background-color: transparent;
    color: white;
    border-width: 0 0 1px 0;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
}

/* removes highlight when typing in input field */
.input_login:focus{
    outline-width: 0;
}

/*handles styles of error messages*/
.error{
    display: block;
    font-size: 14px;
    margin-top: 2px;
    text-align: right;
    height: 14px;
    color: transparent;
}

#errorUsername{
    color: var(--errorRed);
}

/* handles style of login button*/
#btn_login{
    height: 40px;
    width: 100px;
    margin-top: 12%;
    margin-bottom: 3%;
    background-color: var(--gray);
    color: var(--darkBlue);
    border-color: transparent;
    border-width: 3px;
    border-radius: 2px;
    font-size: 18px;
}

/* changes login button opacity upon cursor hover */
.on_hover:hover{
    opacity: .8;
}

/* changes color and places outline upon login button press */
#btn_login:active{
    background-color: steelblue;
    outline: 1px solid white;
    outline-offset: 2px;
}

/* handles style of forgot password hyperlink*/
#link_forgotPsword{
    display: block;
    transform: translateY(600%);
    color: var(--paleBlue);
    text-decoration: none;
}

#link_forgotPsword:hover{
    text-decoration: underline;
}

/* keeps the same font color even if forgot password link has been visited */
#link_forgotPsword:visited{
    color: var(--paleBlue);
}

/* handles style of the word 'OR'*/
#or{
    display: block;
    transform: translateY(670%);
}

/* handles style of signup hyperlink*/
#link_signup{
    display: block;
    transform: translateY(670%);
    font-size: 18px;
    color: palegoldenrod;
    text-decoration: none;
}

#link_signup:hover{
    text-decoration: underline;
}

/* keeps the same font color even if signup link has been visited */
#link_signup:visited{
    color: palegoldenrod;
}
