*{
    --errorRed: #ab4642;
    --logoBlue: #00407C;
    --logoyellow: #FFF212;
    --hoverBlue: #002f5a;
    --paleBlue: #5390CF;
    --lightBlue: #AEDFFC;
    --darkBlue: #041f2e;
    --gray: #808080;

    /*keeps contents aligned*/
    padding: 0;
    margin: 0;
}

/* sets font of texts */
body{
    font-family: 'Lato', sans-serif;
    height: 100%;
    width: 100%;
    z-index: 1;
}

/* class to be added for hiding elements */
.hide{
    display: none;
}

/* class to be added for displaying no notifs message */
.show_message{
    display: absolute;
}

/* class to be added for displaying notifs */
.show_notifs{
    display: inline-block;
}

/* handles style of notification bar */
.notifBar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: fit-content;
    top: 8%;
    margin-top: 60px;
    background-color: var(--darkBlue);
    border-bottom: 1px solid white;
    overflow-x: auto;
}

/* handles style of no notifs label */
.label_noNotif{
    /* change display to none for hiding text, 
    and absolute to reveal text */
    /* display: absolute;  */
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 0.5px;
    opacity: 0.4;

}

/* handles style of notif box */
.notif_box{
    /* change display to inline-block to show notif */
    /* display: none; */
    flex: 0 0 auto;
    margin: 10px;
    height: auto;
    width: 250px;
    border-radius: 20px;
    background-color: #ab4642;
    text-align: center;
    overflow-wrap: break-word;
}

/* handles style of notif text */
.notif_txt{
    display: inline-block;
    margin: 7%;
    color: white;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
    max-width: 85%;
}

