/*sets hex codes for scheme color variables*/
*{
    --errorRed: #ab4642;
    --logoBlue: #00407C;
    --logoyellow: #FFF212;
    --hoverBlue: #002f5a;
    --paleBlue: #5390CF;
    --lightBlue: #AEDFFC;
    --darkBlue: #041f2e;
    --gray: #808080;

    /*keeps contents aligned*/
    padding: 0;
    margin: 0;
}

/* sets font of texts */
body{
    font-family: 'Lato', sans-serif;
    height: 100%;
    background-color: var(--darkBlue);
    z-index: 1;
}

/* handles style of contents box */
#product_box{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    min-width: 1000px;
    height: fit-content;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;

}

#product_box > div{
    flex: 1;
    display: flex;
}

/* handles style of add products link */
#link_add{
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: palegoldenrod;
    color: var(--darkBlue);
    padding: 10px 20px;
    border-color: transparent;
    border-radius: 2px;
    margin-bottom: 2%;
    float: right;
}

#link_add:hover{
    background-color: var(--logoyellow);
}

#link_add:active{
    box-shadow: 0 0 0 3px white;
}

/* handles style of "Product Inventory" label */
#label_product{
    position: absolute;
    font-weight: 900;
    color: white;
    font-size: 36px;
    text-align: center;
    left: 3%;
    right: 0;
    margin-bottom: 2%;
}

#table_box{
    max-width: 100%;
    max-height: 500px;
    width: 100%;
    overflow: auto;
}

/* handles style of products table */
#products_table {
    border-collapse: collapse;
    width: 100%;
}

#products_table tr:nth-child(even){
    background-color: #F3F3F3;
}

/* handles style of table header */
#table_header{
    background-color: var(--logoBlue);
}  

/* handles style of table head texts */
.table_head{
    color: white;
    letter-spacing: 0.5px;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background: var(--logoBlue);
    padding: 0;
}

.filter_button{
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    height: 100%;
    background: var(--logoBlue);
    font-weight: bold;
    color: white;
    padding: 15px 35px 15px 35px;
}

.filter_button:hover{
    background: var(--hoverBlue);
}

/* handles style of column heads to show clickability */
.sortable{
    cursor: pointer;
}

.sortable:hover{
    background: var(--hoverBlue);
}

.sortable:active{
    background: var(--paleBlue);
}

/* classes to be added or removed in order to display 
    ascending or descending arrow next to the column labels*/
.up_arrow::after{
    content: "\25b4";
}

.down_arrow::after{
    content: "\25be";
}

/* handles style of table rows */
.table_rows{
    background-color: white;
}

/* handles style of table rows content*/
.table_head, .non_sortable, .filter_button, td{
    font-size: 16px;
    text-align: left;
}

.filter_button, .non_sortable, td{
    padding: 10px 40px 10px 50px;
}

/* aligns numerical values to the right*/
.numbers{
    text-align: right;
}

/* handles style of icons td */
.icons_item{
    padding: 0 15px 0 15px;
}

/* handles style of link icons */
.link_icons{
    height: 30px;
    width: 30px;
}

.link_icons:hover{
    opacity: 0.8;
}

.link_icons:active{
    border-radius: 100%;
    box-shadow: 0 0 0 1px var(--darkBlue);
}
