/*sets hex codes for scheme color variables*/
*{
    --errorRed: #ab4642;
    --logoBlue: #00407C;
    --logoyellow: #FFF212;
    --hoverBlue: #002f5a;
    --paleBlue: #5390CF;
    --lightBlue: #AEDFFC;
    --darkBlue: #041f2e;
    --gray: #808080;

    /*keeps contents aligned*/
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    background-color: var(--darkBlue);
    font-family: 'Lato', sans-serif;
    justify-content: center;
}

.back_btn{
    margin-left: 3%;
    margin-top: 6%;
    border: none;
    background-color: #F3F3F3;;
    color: black;
    font-weight: bold;
    font-size: 16px;
    border-radius: 2px;
    cursor: pointer;
    padding: 10px;
}


#main_box{
    margin-left: auto;
    margin-right: auto;
    margin-top: -3%;
    justify-content: center;
    margin-bottom: 10%;
    width: 60%;
    height: fit-content;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #002b53;
}

.main_text{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-bottom-style: solid;
    border-color: rgba(236, 233, 233, 0.863);
    margin-top: 5px;
    margin-bottom: 25px;
    padding-bottom: 3px;
    color: rgba(236, 233, 233, 0.863);
    height: 18px;
    width: 100%;
    font-size: 14px;
}

.label{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 8px;
    font-size: 16px;
    letter-spacing: .5px;
    color: white;
}

#productTable{
    margin-left: auto;
    margin-right: auto;
    background-color: #F3F3F3;
    border-collapse: collapse;
    margin-bottom: 40px;
    width: 70%;
}

.productTable_head{
    color: white;
    text-align: left;
    font-size: 16px;
    letter-spacing: .5px;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    background: var(--logoBlue);
    padding: 10px;
}

.productTable_data{
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#producthead_qty, #producthead_unitPrice, #producthead_amount, #product_qty, #product_unitPrice, #product_amount, #productTotal_amount{
    text-align: right;
}
#productTotal_amount, #productTotal_label{
    font-weight: bold;
}

.maindivision_box{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    width: 70%;
}

.division_box{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}