/*sets hex codes for scheme color variables*/
*{
    --errorRed: #ab4642;
    --logoBlue: #00407C;
    --logoyellow: #FFF212;
    --hoverBlue: #002f5a;
    --paleBlue: #5390CF;
    --lightBlue: #AEDFFC;
    --darkBlue: #041f2e;
    --gray: #808080;

    /*keeps contents aligned*/
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    background-color: var(--darkBlue);
    font-family: 'Lato', sans-serif;
    justify-content: center;
}


#label_transaction{
    display: block;
    font-weight: 900;
    color: white;
    font-size: 36px;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

#main_box{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 50%;
    height: fit-content;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #002b53;
}

.main_text{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: white;
    width: 490px;
    height: 18px;
    padding: 5px;
    font-size: 14px;
}

.label{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 16px;
    letter-spacing: .5px;
    margin-bottom: 1px;
    color: white;
    width: 500px;
    padding: 5px;
}

#productTable{
    margin-left: auto;
    margin-right: auto;
    background-color: #F3F3F3;
    border-collapse: collapse;
    margin-bottom: 15px;
    width: 500px;
}

.productTable_head{
    color: white;
    text-align: left;
    font-size: 16px;
    letter-spacing: .5px;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    background: var(--logoBlue);
    padding: 10px;
}

.productTable_data{
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#productTotal_amount, #productTotal_label{
    font-weight: bold;
}