/*sets hex codes for scheme color variables*/
*{
    --errorRed: #ab4642;
    --logoBlue: #00407C;
    --logoyellow: #FFF212;
    --hoverBlue: #002f5a;
    --paleBlue: #5390CF;
    --lightBlue: #AEDFFC;
    --darkBlue: #041f2e;
    --gray: #808080;

    /*keeps contents aligned*/
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    background-color: var(--darkBlue);
    font-family: 'Lato', sans-serif;
    justify-content: center;
}

/* handles style of "Transaction Details" label */
#label_transactDetails{
    display: block;
    font-weight: 900;
    color: white;
    font-size: 36px;
    text-align: center;
    margin-left: 3%;
    margin-bottom: 3%;
}

/* handles style of back button */
.back_btn{
    margin-left: 3%;
    margin-top: 6%;
    border: none;
    background-color: var(--lightBlue);
    color: var(--darkBlue);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 2px;
    cursor: pointer;
    padding: 10px;
}

.back_btn:hover{
    opacity: .8;
}

.back_btn:active{
    background-color: steelblue;
    box-shadow: 0 0 0 2px white;
}

/* handles style of arrow symbol on back button */
i{
    color: var(--darkBlue);
}

/* handles style of div containing main contents */
#main_box{
    margin-left: auto;
    margin-right: auto;
    margin-top: -3%;
    justify-content: center;
    margin-bottom: 10%;
    width: 60%;
    height: fit-content;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #002b53;
}

/* handles style of transaction detail inputs */
.main_text{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-bottom-style: solid;
    border-color: #ece9e9dc;
    margin-top: 5px;
    margin-bottom: 25px;
    padding-bottom: 3px;
    color: #ece9e9dc;
    height: 18px;
    width: 100%;
    font-size: 14px;
}

/* handles style of transaction detail labels */
.label{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 8px;
    font-size: 16px;
    letter-spacing: .5px;
    color: white;
}

/* handles style of product table */
#productTable{
    margin-left: auto;
    margin-right: auto;
    background-color: #F3F3F3;
    border-collapse: collapse;
    margin-bottom: 40px;
    width: 70%;
}

.productTable_head{
    color: white;
    text-align: left;
    font-size: 16px;
    letter-spacing: .5px;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    background: #4481bb;
    padding: 10px;
}

.productTable_data{
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/* #producthead_qty, 
#producthead_unitPrice, 
#producthead_amount, 
#product_qty, 
#product_unitPrice, 
#product_amount, 
#productTotal_amount */

/* aligns numerical table values to the right */
.numbers{
    text-align: right;
}

/* sets text on row of total amount to bold */
#productTotal_amount, 
#productTotal_label{
    font-weight: bold;
}

/* handles style of div containing 2 divs of main transaction details */
.maindivision_box{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    width: 70%;
}

/* handles style of divs containing main transaction details */
.division_box{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
