/*sets hex codes for scheme color variables*/
*{
    -fx-noColor: #00000000;
    -fx-red: #ab4642;
    -fx-darkBlue: #00407C;
    -fx-yellow: #FFF212;
}

/*adjusts background color of left graphic in login page*/
#anchorpane_graphic{
    -fx-background-color: -fx-darkBlue;
}

/* handles highlight of username textfield*/
#tf_username{
    -fx-border-color: -fx-noColor;
    -fx-border-width: 3px;
    -fx-border-radius: 2px;
}

/* handles highlight of password field*/
#pf_password{
    -fx-border-color: -fx-noColor;
    -fx-border-width: 3px;
    -fx-border-radius: 2px;
}

/*handles displaying of error messages*/
#label_errorUsername{
    -fx-color: -fx-noColor;
}

#label_errorPsword{
    -fx-color: -fx-noColor;
}