<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Account Successful</title>
    <link href="../css/navBarStyle.css" rel="stylesheet" type="text/css" >
    <link href="../css/addAccntSuccessStyle.css" rel="stylesheet" type="text/css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    </style>
</head>
<body>
{{> navBar}}

    <div id="addAccntSuccess_box">
        <div>
            <h1 id="label_accnt_added">Account Added Successfully</h1>
        </div>
        <div>
            <img id="user_added" src="../images/accnt_added.png">
        </div>
        <div style="flex-direction: row;">
            <a href="/logout" class="links_addAccnt" id="link_toLogin">Proceed to Login</a>
            <a href="/displayAccounts" class="links_addAccnt" id="link_backAccnt">Back to Accounts</a>
        </div>
    </div>
    
</body>
</html>
