/*sets hex codes for scheme color variables*/
*{
    --errorRed: #ab4642;
    --logoBlue: #00407C;
    --logoyellow: #FFF212;
    --paleBlue: #5390CF;
    --lightBlue: #AEDFFC;
    --darkBlue: #041f2e;
    --gray: #808080;

    /*keeps contents aligned*/
    padding: 0;
    margin: 0;
}

/* sets font of texts */
body, input{
    font-family: 'Lato', sans-serif;
}

/*sets color of page background*/
body{
    background-color: var(--lightBlue);
}

/* handles style of entire box of content */
#row_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    height: 90%;
    width: 60%;
    min-height: 500px;
}

/*adjusts background color of left graphic in login page*/
#logo_box{
    position: relative;
    flex: 0.4;
    display: flex;
    background-color: var(--logoBlue);
    min-width: 300px;
}

/* handles style of logo image */
#logo{
    display: block;
    height: auto;
    width: 200px;
    margin: auto;
}

/* sets fixed width for whole login form */
form{
    width:500px;
}

/* handles style of login section */
#login_box{
    flex: 0.6;
    background-color: var(--darkBlue);
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 500px;
}

/* handles style of login form contents */
#login_contents{
    position: block;
    display: flex; 
    padding: 10px;
    height: 90%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
}

/* handles styles of username and password div containers */
.box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#username_box{
    transform: translateY(-150%);
}

#password_box{
    transform: translateY(5%);
}

/* handles styles of main labels */
.label{
    text-align: center;
    color: white;
}

#label_welcome{
    position: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 48px;
    letter-spacing: 1px;
    transform: translateY(-220%);
}

#label_username, #label_password{
    left: 20%;
    font-size: 20px;
    letter-spacing: 0.5px;
    text-align: left;
}

/* handles styles of username and password fields*/
#input_username, #input_password{
    margin: auto;
    border-color: white;
    background-color: var(--darkBlue);
    color: white;
    border-width: 0 0 1px 0;
    width: 100%;
    font-size: 16px;
    transform: translateY(70%);
}

/* removes highlight when typing in input field */
input:focus{
    outline-width: 0;
}

/*handles styles of error messages*/
.error{
    position: absolute;
    transform: translateY(100%); 
    font-size: 14px;
     bottom: -35%; 
    right: 0;
    color: transparent;
}

#errorUsername{
    color: var(--errorRed);
}

/* handles style of login button*/
#btn_login{
    margin: auto;
    height: 40px;
    width: 100px;
    background-color: var(--gray);
    color: var(--darkBlue); /* font color*/
    border-color: transparent;
    border-width: 3px;
    border-radius: 2px;
    transform: translateY(220%);
    font-size: 18px;
}

/* changes login button opacity upon cursor hover */
.on_hover:hover{
    opacity: 0.8;
}

/* changes color and places outline upon login button press */
#btn_login:active{
    background-color: steelblue;
    outline: 1px solid white;
    outline-offset: 2px;
}

/* handles style of forgot password hyperlink*/
#link_forgotPsword{
    display: block;
    transform: translateY(600%);
    color: var(--paleBlue);
    text-decoration: none;
}

#link_forgotPsword:hover{
    text-decoration: underline;
}

/* keeps the same font color even if forgot password link has been visited */
#link_forgotPsword:visited{
    color: var(--paleBlue);
}

/* handles style of the word 'OR'*/
#or{
    display: block;
    transform: translateY(670%);
}

/* handles style of signup hyperlink*/
#link_signup{
    display: block;
    transform: translateY(670%);
    font-size: 18px;
    color: palegoldenrod;
    text-decoration: none;
}

#link_signup:hover{
    text-decoration: underline;
}

/* keeps the same font color even if signup link has been visited */
#link_signup:visited{
    color: palegoldenrod;
}