/*sets hex codes for scheme color variables*/
*{
    --errorRed: #ab4642;
    --logoBlue: #00407C;
    --logoyellow: #FFF212;
    --hoverBlue: #002f5a;
    --paleBlue: #5390CF;
    --lightBlue: #AEDFFC;
    --darkBlue: #041f2e;
    --gray: #808080;

    /*keeps contents aligned*/
    padding: 0;
    margin: 0;
}

/* sets font of texts */
body{
    font-family: 'Lato', sans-serif;
    height: 100%;
    background-color: var(--darkBlue);
    z-index: 1;
}

#noAccess_box{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 70%;
    height: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
}

#noAccess_box > div{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

#label_restricted{
    color: var(--errorRed);
    font-weight: 900;
    font-size: 72px;
    text-align: center;
}

#lock{
    width: 250px;
    height: 250px;
}

#msg_noAccess{
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

#link_backHome{
    background-color: var(--lightBlue);
    color: var(--darkBlue);
    padding: 15px 25px;
    border-radius: 2px;
    text-decoration: none;
}

#link_backHome:hover{
    opacity: 0.8;
}

#link_backHome:active{
    background-color: steelblue;
    box-shadow: 0 0 0 1px white;
}
